.App {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #e6e6fa;
  background-image: url(Cakes.png);
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
}
